{% extends 'base/base.html' %}

{% block content %}
<div class = "content">
    <div class="card mx-auto mt-5">
      <div class="card-header" align="center">Eliminar Producto</div>
	      <div class="card-body">
	      	<div class="form-group">
			    <form method="POST"  enctype="multipart/form-data" >
			      {% csrf_token %}
			      	<h3>Desea eliminar el Producto {{object.nombre}} {{object.descripcion}}</h3>
			      <p></p> 
					 <div class="text-center">
				        <button class="btn btn-primary" type="submit">Eliminar <i class="fa fa-arrow-circle-right"></i></button>
				        <a href="{% url 'producto_listar' %}">Cancelar</a> 
					</div>   
			    </form>
			</div>
	      </div>
  	</div>
</div>
{% endblock %}