{% extends 'Ventas/base.html' %}

{% block content %}
    
        {% if post.fecha_crea %}
            <div class="date">
                {{ post.fecha_crea }}
                

            
        {% endif %}
        
        </div>
        <h1>{{ producto_detail.nombre }}</h1>
        <p>{{ producto_detail.descripcion }}</p>
        <p>{{ producto_detail.cantidad }}</p>
        <p>{{ producto_detail.precio_unitario}}</p>
        <a class="btn btn-default" href="{% url 'producto_edit' pk=producto_detail.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        
   
{% endblock %}