{% extends 'base/base.html' %}

{% block content %}
<style type="text/css"> 
	tr {
		cursor: pointer;
		}
</style>

<div class="card mb-3">
<div class="card-header">
  <i class="fa fa-table"></i> Clientes</div>
<div class="card-body">


<table class="table table-bordered table-hover" id="dataTables" width="100%" cellspacing="0">
	<thead>
		<tr>
			<td>DNI</td>
			<td>Nombre y apellidos</td>			
			<td>Born</td>
			<td>Email</td>
			<td>Telefono</td>
			<td>Acciones</td>
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for cliente in object_list %}
		<tr>
			<td>{{ cliente.cedula }}</td>
			<td>{{ cliente.nombres }} {{cliente.apellidos }}</td>			
			<td>{{ cliente.fecha_nacimiento}}</td>
			<td>{{ cliente.email}}</td>
			<td>{{ cliente.celular}}</td>
			
			<td>
				<a class="btn btn-primary" href="#">Editar</a>
			<!--	<a class="btn btn-danger" href="#">Eliminar</a>-->
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de clientes</h1>
		{% endif %}
	</tbody>
</table> 
</div>
</div>

{% endblock%}