{% extends 'Ventas/base.html' %}

{% block content %}
    
        {% if post.fecha_crea %}
            <div class="date">
                {{ post.fecha_crea }}
                

            
        {% endif %}
        
        </div>
        <h2>{{producto_detail}}</h2>
        <h1>{{ producto_detail.nombre }}</h1>
        <p>{{ producto_detail.descripcion }}</p>
        <p>{{ producto_detail.cantidad }}</p>
        <p>{{ producto_detail.email }}</p>
        <p>{{ producto_detail.celular }}</p>
        <p>{{ producto_detail.direccion }}</p>
        
   
{% endblock %}