{% extends 'Ventas/base.html' %}

{% block content %}
         <div>
        <h1>Factura de  venta # {{venta_detail.id}}</h1>
        
        </div>
        <p> Cliente: {{ venta_detail.cliente}}</p>
        <p>Producto:{{ venta_detail.producto}}</p>
        <p>Cantidad: {{ venta_detail.cantidad}}</p>
        <p>Precio Total: {{ venta_detail.precio_total }}</p>
        <p>Fecha: {{ venta_detail.fecha }}</p>
        <a class="btn btn-default" href="{% url 'venta_edit' pk=venta_detail.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
   
{% endblock %}