{% extends 'base/base.html' %}

{% block content %}
<style type="text/css"> 
	tr {
		cursor: pointer;
		}
</style>

<div class="card mb-3">
<div class="card-header">
  <i class="fa fa-table"></i> Ventas</div>
<div class="card-body">


<table class="table table-bordered table-hover" id="dataTables" width="100%" cellspacing="0">
	<thead>
		<tr>
			<td>Producto</td>
			<td>Cliente</td>			
			<td>Cantidad</td>
			<td>Precio Total / U</td>
			<td>fecha</td>
			<td>Acciones</td>
			
		</tr>
		
	</thead>
	<tbody>
		{% if object_list %}
		{% for venta in object_list %}
		<tr>
			<td>{{ venta.producto}}</td>
			<td>{{ venta.cliente}}</td>	
			<td>{{ venta.cantidad}}</td>			
			<td>{{ venta.precio_total}}</td>
			<td>{{ venta.fecha}}</td>
			
			<td>
				
			<!--	<a class="btn btn-danger" href="#">Eliminar</a>-->
			</td>
		</tr>
		{% endfor %}
		
		{% else %}
		<h1>No hay registros de clientes</h1>
		{% endif %}
	</tbody>
</table> 
</div>
</div>

{% endblock%}